.card-body1 {
	flex: 1 1 auto;
	/* padding: var(--bs-card-spacer-y) var(--bs-card-spacer-x); */
	color: var(--bs-card-color);
}

label {
	color: #6f6f73;
}

.pas1 {
	display: flex;
	flex-direction: row;
	align-items: center;
	padding-top: 2%;
	gap: 20px;
}

.centrado {
	margin-left: auto;
	margin-right: auto;
}

.service_card {
	position: absolute;
	bottom: 1%;
	left: 5%;
}

.pas2 {
	display: flex;
	flex-direction: row;
	align-items: center;
	margin-top: 10%;
}

.pas3 {
	display: flex;
	flex-direction: row;
	align-items: center;
	/*gap: 20px;*/
}

.card_edit {
	background: none;
	border: none;
	margin-top: 4%;
}

.card_edit2 {
	background: none;
	border: none;
	padding: 10% 0 2% 0;
}

.card_edit3 {
	/*width: 80%;*/
	background: none;
	border: none;
	padding: 8% 0 2% 0;
}

.cont {
	width: 100%;
}

.contento {
	width: 100%;
}

.como_f {
	font-family: 'Barlow';
	font-style: normal;
	font-weight: 800;
	font-size: 41px;
	line-height: 50px;
	color: #961007;
	margin-bottom: 5%;
}

.como_f2 {
	font-family: 'Barlow';
	font-style: normal;
	font-weight: 800;
	font-size: 41px;
	line-height: 50px;
	color: #fff;
	margin-bottom: 10%;
}

.pregunta_f {
	font-family: 'Barlow';
	font-style: normal;
	font-weight: 800;
	font-size: 20px;
	line-height: 24px;
	/* identical to box height */

	text-transform: uppercase;

	/* Penn Red */

	color: #961007;
}

.title_g {
	font-family: 'Barlow';
	font-style: normal;
	font-weight: 800;
	font-size: 41px;
	line-height: 50px;
	color: #961007;
	text-align: center;
	padding-bottom: 30px;
}

.ben {
	font-family: 'Barlow';
	font-style: normal;
	font-weight: 800;
	font-size: 39px;
	line-height: 50px;
	color: #961007;
}

.pasoTitle {
	font-family: 'Barlow';
	font-style: normal;
	font-weight: 700;
	font-size: 24px;
	line-height: 26px;
	/* identical to box height, or 108% */

	text-transform: uppercase;

	color: #961007;
}

.pasoBoby {
	font-family: 'Barlow';
	font-style: normal;
	font-weight: 700;
	font-size: 18px;
	line-height: 26px;
	/* or 144% */

	text-transform: uppercase;

	color: #02111B;
}

.card_bene {
	margin-top: 8%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	padding: 52px 30px;
	gap: 10px;

	width: 100%;
	height: 280px;

	background: #EEEEF0;
	border-radius: 6px;
	border: none !important;
}

.info_bene {
	font-family: 'Barlow';
	font-style: normal;
	font-weight: 700;
	font-size: 18px;
	line-height: 28px;
	/* identical to box height, or 156% */

	text-transform: uppercase;

	/* Penn Red */

	color: #961007;
}

.vec_atencion {
	background: url('../frontend/web/images/aetncion.png');
}

.content_atencion {
	font-family: 'Barlow';
	font-style: normal;
	font-weight: 500;
	font-size: 18px;
	line-height: 28px;
	/* or 156% */

	font-feature-settings: 'ordn' on;

	color: #02111B;
}

.contenido_borde {
	padding: 9% 10% 10% 10%;
}

.aviso {
	color: #FFF;
	font-family: 'Barlow';
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
}

.reserva {
	font-family: 'Barlow';
	font-style: normal;
	font-weight: 700;
	font-size: 20px;
	line-height: 28px;
	/* identical to box height, or 140% */

	text-transform: uppercase;

	color: #02111B;
}

.reservar {
	width: auto;
}

.como_contacto {
	font-family: 'Barlow';
	font-style: normal;
	font-weight: 800;
	font-size: 41px;
	line-height: 50px;
	color: #02111B;
	margin-bottom: 5%;
}

.h5 {
	font-family: 'Barlow';
	font-style: normal;
	font-weight: 500;
	font-size: 18px;
	line-height: 28px;
	/* or 156% */


	color: #F2F2F2;

}

.btn-parkin {
	--bs-btn-color: #fff;
	--bs-btn-bg: #961007;
	--bs-btn-border-color: #961007;
	--bs-btn-hover-color: #fff;
	--bs-btn-hover-bg: #961007;
	--bs-btn-hover-border-color: #961007;
	--bs-btn-focus-shadow-rgb: 49, 132, 253;
	--bs-btn-active-color: #fff;
	--bs-btn-active-bg: #961007;
	--bs-btn-active-border-color: #961007;
	--bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
	--bs-btn-disabled-color: #fff;
	--bs-btn-disabled-bg: #961007;
	--bs-btn-disabled-border-color: #961007;
	background-color: #961007;
	color: white;
	width: 100%;
}

.atencion {
	color: white;
}

.boton_centrado {
	display: flex;
	justify-content: space-around;
}

.btn-parking2 {
	background-color: #B0CB21;
}

.btn-parkin1 {
	background-color: #B0CB21;
	width: 60%;
}


.btn-otroservice {
	background-color: #525865;
	color: white;
	width: 90%;
}

/*--------------------------------------------------------------
# Testimonials
--------------------------------------------------------------*/
.testimonials .testimonial-item {
	box-sizing: content-box;
	padding: 30px;
	margin: 40px 30px;
	box-shadow: 0px 0 20px rgba(1, 41, 112, 0.1);
	background: #fff;
	display: flex;
	flex-direction: column;
	transition: 0.3s;
}

.testimonials .testimonial-item .stars {
	margin-bottom: 15px;
}

.testimonials .testimonial-item .stars i {
	color: #ffc107;
	margin: 0 1px;
}

.testimonial-img {
	width: 100%;
	height: 300px;
	border: 4px solid #fff;
	margin: 0 auto;
}

.testimonials .testimonial-item h3 {
	font-size: 18px;
	font-weight: bold;
	margin: 10px 0 5px 0;
	color: #111;
}

.testimonials .testimonial-item h4 {
	font-size: 14px;
	color: #999;
	margin: 0;
}

.testimonials .testimonial-item p {
	font-style: italic;
	margin: 0 auto 15px auto;
}

/*.testimonials .swiper-pagination {
	margin-top: 20px;
	position: relative;
}

.testimonials .swiper-pagination .swiper-pagination-bullet {
	width: 12px;
	height: 12px;
	background-color: #fff;
	opacity: 1;
	border: 1px solid #961007;
}

.testimonials .swiper-pagination .swiper-pagination-bullet-active {
	background-color: #961007;
}

.testimonials .swiper-slide {
	opacity: 0.3;
}*/

/*.swiper-wrapper {
	position: relative;
	width: 20%; 
	height: 20%;
	z-index: 1;
	display: flex;
	transition-property: transform;
	box-sizing: content-box
}*/

@media (max-width: 1199px) {
	.testimonials .swiper-slide-active {
		opacity: 1;
	}

	.testimonials .swiper-pagination {
		margin-top: 0;
	}
}

@media (max-width: 1200px) {

	.separa {
		padding-top: 3%;
		padding-bottom: 3%;
	}

	.testimonials .swiper-slide-next {
		opacity: 1;
	}

	.container {
		max-width: 70%;
	}

	.card_edit2 {
		background: none;
		border: none;
		padding: 2% 0 2% 0;
	}

}

@media (min-width: 1900px) {

	.separa {
	
	}

	.testimonials .swiper-slide-next {
		opacity: 1;
	}

	.container {
		max-width: 70%;
	}

	.pas1 {
		display: flex;
		flex-direction: row;
		align-items: center;
		padding-top: 6%;
		gap: 20px;
	}

	.pasoTitle {
		font-family: 'Barlow';
		font-style: normal;
		font-weight: 700;
		font-size: 16px;
		line-height: 26px;
		/* identical to box height, or 108% */
		margin-left: 10%;
		text-transform: uppercase;
		color: #961007;
	}

	.pasoBoby {
		font-family: 'Barlow';
		font-style: normal;
		font-weight: 700;
		font-size: 14px;
		line-height: 26px;
		width: 100%;
		margin-left: 10%;
		/* or 144% */

		text-transform: uppercase;

		color: #02111B;
	}

	.reservar {
		width: 100%;
	}

	.pas2 {
		display: flex;
		flex-direction: row;
		align-items: center;
		margin-top: 14%;
	}

	.pas3 {
		display: flex;
		flex-direction: row;
		align-items: center;
		/* gap: 20px; */
		margin-top: 6%;
	}


}

@media (max-width: 1118px) {

	.separa {
		padding-top: 2%;
		padding-bottom: 2%;
	}

}

@media (max-width: 844px) {
	.caja {
		border-top: 1px solid #961007;
		border-bottom: 1px solid #961007;
		border-left: none !important;
		border-right: none !important;
		padding-left: 0%;
	}
}


@media only screen and (max-width: 914px) {

	.calculadora {
		font-family: 'Barlow';
		font-style: normal;
		font-weight: 600;
		font-size: 18px;
		line-height: 22px;
		text-transform: uppercase;
		color: #961007;
		display: flex;
		/* align-items: center; */
		vertical-align: middle;
		margin-left: 0;
	}

	.calcular {
		display: flex;
		font-size: 18px;
		font-weight: 600;
		font-family: 'barlow';
		color: white;
		padding: 7% 0% 7% 0%;
	}

	.reservar {
		width: 100%;
	}

	.card_edit {
		background: none;
		border: none;
		margin-top: 4%;
	}

	.card_edit2 {
		background: none;
		border: none;
	}

	.card_edit3 {
		/*width: 80%;*/
		background: none;
		border: none;
	}

	.rowmm {
		display: flex;
		/* width: 100%; */
		/* max-width: 100%; */
		padding-right: calc(var(--bs-gutter-x) * .5);
		padding-left: calc(var(--bs-gutter-x) * .5);
		margin-top: var(--bs-gutter-y);
	}
}

@media (min-width:770px) {
	.pas1 {
		display: flex;
		flex-direction: row;
		align-items: center;
		padding-top: 6%;
		gap: 20px;
	}

	.pasoTitle {
		font-family: 'Barlow';
		font-style: normal;
		font-weight: 700;
		font-size: 16px;
		line-height: 26px;
		/* identical to box height, or 108% */
		margin-left: 10%;
		text-transform: uppercase;
		color: #961007;
	}

	.pasoBoby {
		font-family: 'Barlow';
		font-style: normal;
		font-weight: 700;
		font-size: 14px;
		line-height: 26px;
		width: 100%;
		margin-left: 10%;
		/* or 144% */

		text-transform: uppercase;

		color: #02111B;
	}

	.reservar {
		width: 100%;
	}

	.pas2 {
		display: flex;
		flex-direction: row;
		align-items: center;
		margin-top: 14%;
	}

	.pas3 {
		display: flex;
		flex-direction: row;
		align-items: center;
		/* gap: 20px; */
		margin-top: 6%;
	}

}





@media (max-width:420px) {

	div#image-line {
		background-image: url('../frontend/web/images/line_road_mobile.png') !important;
		background-repeat: no-repeat !important;
		background-size: contain !important;
		width: 100% !important;
	}

	.card_edit {
		width: 80%;
		background: none;
		border: none;
		padding-top: 15%;
	}

	.card_edit2 {
		width: 80%;
		background: none;
		border: none;
	}

	.card_edit3 {
		width: 80%;
		background: none;
		border: none;
	}

	.pasoTitle {
		font-family: 'Barlow';
		font-style: normal;
		font-weight: 700;
		font-size: 24px;
		line-height: 26px;
		/* identical to box height, or 108% */
		margin-left: 10%;
		text-transform: uppercase;

		color: #961007;
		padding-top: 10%;
	}

	.pasoBoby {
		font-family: 'Barlow';
		font-style: normal;
		font-weight: 700;
		font-size: 18px;
		line-height: 26px;
		width: 100%;
		margin-left: 10%;
		/* or 144% */

		text-transform: uppercase;

		color: #02111B;
	}

	.pas1 {
		display: flex;
		flex-direction: row;
		align-items: center;
		gap: 20px;
	}

	.pas2 {
		display: flex;
		flex-direction: row;
		align-items: center;
		margin-left: 7%;
	}

	.pas3 {
		display: flex;
		flex-direction: row;
		align-items: center;
		padding-top: 0;
		gap: 20px;
	}

	.navbar .dropdown .dropdown:hover>ul {
		left: -100%;
	}
}

@media (max-width: 390px) {
	.card_edit2 {
		width: 80%;
		background: none;
		border: none;
	}

	.card_edit3 {
		width: 80%;
		background: none;
		border: none;
	}

	.pas3 {
		display: flex;
		flex-direction: row;
		align-items: center;
		gap: 20px;
	}
}

@media (max-width: 375px) {
	.card_edit2 {
		width: 80%;
		background: none;
		border: none;
	}

	.card_edit3 {
		width: 80%;
		background: none;
		border: none;
	}

	.pas3 {
		display: flex;
		flex-direction: row;
		align-items: center;
		gap: 20px;
	}

	div#image-line {
		background-image: url('../frontend/web/images/line_road_mobile.png');
		background-repeat: no-repeat;
		background-size: contain;
		width: 100%;
	}

	.card_edit {
		width: 80%;
		background: none;
		border: none;
	}

	.card_edit2 {
		width: 80%;
		background: none;
		border: none;
	}

	.pasoTitle {
		font-family: 'Barlow';
		font-style: normal;
		font-weight: 700;
		font-size: 20px;
		line-height: 26px;
		/* identical to box height, or 108% */
		margin-left: 10%;
		text-transform: uppercase;
		color: #961007;
		padding-top: 10%;
	}

	.pasoBoby {
		font-family: 'Barlow';
		font-style: normal;
		font-weight: 700;
		font-size: 14px;
		line-height: 26px;
		width: 100%;
		margin-left: 10%;
		/* or 144% */

		text-transform: uppercase;

		color: #02111B;
	}

	.pas1 {
		display: flex;
		flex-direction: row;
		align-items: center;
		gap: 20px;
	}

	.pas2 {
		display: flex;
		flex-direction: row;
		align-items: center;
		margin-left: 7%;
	}

}

input[type="date"]::-webkit-calendar-picker-indicator,
input[type="time"]::-webkit-calendar-picker-indicator {
	cursor: pointer;
	border-radius: 4px;
	margin-right: 2px;
	opacity: 0.1;
	filter: invert(0.1);
}

.input-group-text1 {
	display: flex;
	align-items: center;
	/*padding: 0.375rem 0.75rem;*/
	margin-left: auto;
	margin-right: auto;
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.5;
	color: #212529;
	text-align: center;
	white-space: nowrap;
	/* background-color: #e9ecef; */
	/* border: 1px solid #ced4da; */
	border-radius: 0.375rem;
	width: 100%;
}

.calculadora {
	font-family: 'Barlow';
	font-style: normal;
	font-weight: 700;
	font-size: 18px;
	line-height: 22px;
	text-transform: uppercase;
	color: #3f3f44bf;
	display: flex;
	/* align-items: center; */
	vertical-align: middle;
	margin-top: 13%;
}

.caja_reser {
	border-left: 2px solid #b0cb21;
	border-right: 2px solid #b0cb21;
}

.calcular_div {
	background: #4042E2;
	display: flex;
	align-items: center;
	vertical-align: middle;
	border-radius: 6px;
}

.calcular {
	margin-left: auto;
	margin-right: auto;
	font-size: 18px;
	font-weight: 600;
	font-family: 'barlow';
	color: white;
}


.divider {
	border: 1px solid #ccc;
}

.img_swi {
	width: 100%;
}

.swiper-container {
	width: 100%;
	height: 100%;
}

.swiper-slide {
	text-align: center;
	font-size: 18px;
	background: #fff;
	/* Center slide text vertically */
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
}

.sli_img {
	width: 300px;
    height: 300px;
    border: 4px solid #fff;
    margin: 0 auto;
    border-radius: 100%
}

#container-main {
	margin: 40px auto;
	width: 95%;
	min-width: 320px;
	max-width: 960px;
}

#container-main h1 {
	font-size: 40px;
	text-shadow: 4px 4px 5px #16a085;
}

.accordion-container {
	width: 100%;
	margin: 0 0 20px;
	clear: both;
}

.accordion-titulo {
	position: relative;
	display: block;
	padding: 20px;
	text-decoration: none;
	background: #fff;
	border-radius: 4px;
	font-family: 'Barlow';
	font-style: normal;
	font-weight: 800;
	font-size: 20px;
	line-height: 24px;
	text-transform: uppercase;
	color: #6F6F73;
	transition: 0.3s;
}

.accordion-titulo.open {
	background: #fff;
	color: #6F6F73;
}

.accordion-titulo:hover {
	background: #B0CB21;
	color: #fff;
}

.accordion-titulo span.toggle-icon:before {
	content: "+";
}

.accordion-titulo.open span.toggle-icon:before {
	content: "-";
}

.accordion-titulo span.toggle-icon {
	position: absolute;
	top: 10px;
	right: 20px;
	font-size: 38px;
	font-weight: bold;
}

.accordion-content {
	display: none;
	padding: 20px;
	overflow: auto;
	background: white;
}

.accordion-content p {
	margin: 0;
}

.accordion-content img {
	display: block;
	float: left;
	margin: 0 15px 10px 0;
	width: 81%;
	height: auto;
}


@media (max-width: 767px) {
	.accordion-content {
		padding: 10px 0;
	}

	#button-hero{
		flex-direction: column;
	}

	.calcular{
		padding: 2% 7%;
		margin-bottom: 5px;
	}
}

@media (min-width: 767px) and (max-width: 910px) {
	.calcular{
		padding: 2% 7%;
	}
}